@import "nib"
@import "normalize.styl"

naranja = #C56626
cafe = #1D100C
texto1 = #333
link = #468CBF
blanco = #ffffff
rojo = #DF392E
gris_tenue = #f2f2f2
gris_bajito = #d7d7d7 
fondo = #f2f2f2
background = #eae6e5
textofooter = #b9b9b9

a 
	text-decoration none

body
	font-family 'Open Sans', sans-serif
	font-weight 300
	font-size 16px
header
	h2
		text-align center

.address
	text-align center
.construction
	text-align center
	font-weight bold
	font-size 3em
.logo
	figure
		text-align center
		img
			width 250px